.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bars-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.9;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--bg-inactive);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--accent-color);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenavOpened {
  width: 300px;
}

.sidenavClosed {
  width: 0;
}

.nodesContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
.sidenavButton {
  height: 50px;
}
