.EditorHtmlModal {
  font-family: var(--diagram-font-family);
  fill: var(--node-font-color);
}

.invalidTitle {
  border: 1px solid red;
  background-color: rgb(244, 125, 125);
}

.titleEdit {
  width: 100%;
}

.EditorHtmlModal :global .ce-inline-toolbar {
  background-color: var(--bars-color) !important;
}

.EditorHtmlModal :global .ce-inline-tool:hover {
  background-color: var(--brand-color) !important;
}

.EditorHtmlModal :global .ce-toolbar__settings-btn,
.EditorHtmlModal :global .ce-toolbar__plus {
  color: var(--node-font-color);
}

.EditorHtmlModal :global .ce-toolbar__settings-btn:hover,
.EditorHtmlModal :global .ce-toolbar__plus:hover {
  color: var(--bars-color);
}
.EditorHtmlModal :global .ce-block--selected .ce-block__content {
  background-color: var(--bars-color) !important;
}
.EditorHtmlModal :global .ce-inline-toolbar__buttons {
  flex-wrap: wrap;
}

.EditorHtmlModal :global .sb-modal-body {
  background-color: var(--node-bg-color);
  opacity: 0.9;
  padding: 5px;
  min-height: 500px;
  overflow-x: hidden;
}

.EditorHtmlModal :global .inline-image__image-gallery {
  display: block;
  overflow-y: auto;
  max-height: 300px;
}

.EditorHtmlModal :global .inline-image__img-wrapper {
  width: 100%;
}

.EditorHtmlModal :global .panel-scroll {
  overflow: hidden;
}

.EditorHtmlModal :global .inline-image__search {
  width: 100%;
  margin: 0px;
}

.EditorHtmlModal :global .ce-conversion-tool__icon,
.EditorHtmlModal :global .ce-conversion-toolbar--showed {
  background-color: var(--bars-color) !important;
}

.EditorHtmlModal :global .tc-popover--opened,
.EditorHtmlModal :global .ce-popover__custom-content {
  color: #000;
}

.EditorHtmlModal :global .ce-inline-toolbar__dropdown:hover,
.EditorHtmlModal :global .ce-conversion-tool:hover {
  background-color: var(--brand-color) !important;
}
.EditorHtmlModal :global .tc-toolbox--row {
  left: -15px;
}

.EditorHtmlModal :global .cdx-attaches__file-info {
  color: var(--brand-color) !important;
}

.EditorHtmlModal :global .colorPlugin {
  position: relative;
}
.EditorHtmlModal :global xy-color-picker {
  position: absolute;
  left: 4px;
  bottom: -22px;
  background-color: transparent;
}

:global .tribute-container ul {
  background-color: var(--bars-color) !important;
  padding-left: 0pt;
  list-style-type: none;
  color: var(--node-font-color);
  font-family: var(--diagram-font-family);
  box-shadow: 0 0 12px #000;
  border-radius: 12px;
}

:global .tribute-container li {
  padding: 10px;
  cursor: pointer;
}

:global .tribute-container li:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

:global .tribute-container li:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

:global .tribute-container li.highlight {
  padding: 10px;
  background-color: var(--brand-color) !important;
}
