.sb-modal[role="dialog"] {
  position: fixed;
  inset: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin: 0;
  padding: 0;
}
.sb-modal[role="dialog"]:not(.without-overlay):before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: var(--brand-color);
  opacity: 0.4;
  z-index: 999;
}
.sb-modal[role="dialog"] .sb-modal-content {
  background: var(--bars-color);
  border-radius: 8px;
  color: var(--node-font-color);
  padding: 0.5em;
  z-index: 1000;
}
.sb-modal[role="dialog"] .sb-modal-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.sb-modal[role="dialog"] .sb-modal-footer {
  display: flex;
  justify-content: flex-end;
}
