.sb-modal[role="dialog"] {
  position: fixed;
  top:0;
  left:0;
  z-index: 9999999999;
  width:100vw;
  height: 100vh;
  inset: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin: 0;
  padding: 0;
}
.sb-modal[role="dialog"]:not(.without-overlay):before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: var(--brand-color);
  opacity: 0.4;
  z-index: 999;
}
.sb-modal[role="dialog"] .sb-modal-content {
  background: var(--brand-color);
  border-radius: 8px;
  color: var(--node-font-color);

  z-index: 1000;
  width: var(--sb-modal-width);
}
.sb-modal[role="dialog"] .sb-modal-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 0.7em;
  height: 60px;
  background: var(--bars-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.sb-modal[role="dialog"] .sb-modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.7em;
  height: 60px;
  background: var(--bars-color);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.sb-modal-body {
  max-height: calc(100vh - 120px);
  overflow: auto;
  padding: 1em;
}
