.Node {
  border-radius: 12px;
  border: 2px solid var(--border-color);
  z-index: 1;
  width: 250px;
  min-height: 100px;
  position: absolute;
  opacity: 0.9;
  color: var(--node-font-color);
  cursor: move;
  background-color: var(--node-bg-color);
  will-change: transform;
}

.NodeSelected {
  box-shadow: 0 0 20px 5px var(--accent-color);
  border-color: var(--accent-color);
  z-index: 3;
  pointer-events: all;
}

.Node:hover {
  border-color: var(--accent-color);
  z-index: 2;
}

.NodeDragging {
  z-index: 100000000000000000000;
  pointer-events: all;
}

.NodeHead {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  background-color: var(--brand-color);
  color: var(--node-font-color);
  font-size: var(--node-head-font-size);
  min-width: 0;
  min-height: 0;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 3px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
  align-items: end;
}

.NodeHeadTitle {
  flex: 1 1 0%;
  margin-left: 6px;
}

.NodeHeadTitle span {
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 145px;
  overflow: hidden;
  white-space: nowrap;
}

.NodeContent {
  padding: 5px;
  max-width: 100%;
  width: 100%;
  block-size: fit-content;
  overflow-wrap: break-word;
  overflow: hidden;
}
.NodeContent * {
  margin: 0;
}

.NodeContentPart {
  background-color: var(--node-content-bgcolor);
  display: inline-block;
  overflow: auto;
  overflow-wrap: break-word;
  position: relative;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  color: var(--node-content-font-color);
  padding: 10px;
}

.NodeCommands {
  cursor: pointer;
  display: inline;
}

.NodeCommands:hover {
  cursor: pointer;
  color: var(--accent-color) !important /* flag important needed because of solidicons */;
}
