.flowchart-node-content .codex-editor__redactor {
  padding-bottom: 0px !important;
  margin-right: unset !important;
}

.flowchart-node-content .ce-block {
  background-color: var(--node-content-bgcolor);
  display: inline-block;
  overflow: auto;
  overflow-wrap: break-word;
  position: relative;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  color: var(--node-content-font-color);
  padding: 10px;
}

.node-content-editor-readonly .codex-editor__loader {
  height: 50px;
}

.tc-wrap--readonly {
  margin: 0 !important;
  border-left: 1px solid !important;
}

.ce-code__textarea {
  min-height: unset;
}

.cdx-attaches__file-info {
  color: var(--brand-color) !important;
}