.flowchart-node-content .codex-editor__redactor {
  padding-bottom: 0px !important;
  margin-right: unset !important;
}

.flowchart-node-content .ce-block {
  background-color: var(--node-content-bgcolor);
  display: inline-block;
  overflow: auto;
  overflow-wrap: break-word;
  position: relative;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  color: var(--node-content-font-color);
  padding: 10px;
}

.node-content-editor-readonly .codex-editor__loader {
  height: 50px;
}

.tc-wrap--readonly {
  margin: 0 !important;
  border-left: 1px solid !important;
}

.ce-code__textarea {
  min-height: unset;
}

.cdx-attaches__file-info {
  color: var(--brand-color) !important;
}

.flowchart-node-content .ce-block blockquote {
  font-size: 1.2em;
  width: 100%;
  font-style: italic;
  color: var(--primary-color);
  padding-left: 3em;
  padding-top: 10px;
  border-radius: 6px;
  padding-bottom: 10px;
  border-left: 8px solid var(--node-content-font-color);
  line-height: unset;
  position: relative;
  background: var(--node-bg-color);
}

.flowchart-node-content .ce-block blockquote::before {
  content: "\201C";
  color: var(--node-content-font-color);
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

.flowchart-node-content .ce-block blockquote::after {
  content: "";
}

.flowchart-node-content .ce-block blockquote .cdx-quote__caption {
  display: block;
  color: var(--node-content-font-color);
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
  padding: 0;
}

.flowchart-node-content .cdx-quote__text {
  padding: 0;
  min-height: unset;
}

/* .flowchart-node-content .ce-block {
  padding: 0;
  overflow: unset;
} */
.flowchart-node-content .cdx-input:empty {
  display: none;
}
.flowchart-node-content .cdx-input {
  border: none;
  box-shadow: none;
}
